# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# If using the Django migrations:
migrations/
*/migrations/*

# Pytest cache directory
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Celery task queue
celerybeat-schedule

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Hidden files
.Spotlight-V100
.Trashes

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
out/

# Docker
docker-compose.override.yml
.docker/

# Test files
*.spec.js
*.test.js
*.test


# Node.js
node_modules/

# Ignore package distribution directories
dist/
build/
*.egg-info/

# Ignore Python-related package files
*.egg
*.pyo
*.pyd

# Env variables file
.env
.env.*

# Pydantic compiled files
.pydantic/

*.http