include LICENSE
include README.md

recursive-include referrals *.py
prune docs
prune test_app
prune build
prune dist
prune django_referral_system.egg-info
global-exclude __pycache__
global-exclude *.py[cod]
